<div class="detail">
  <div class="description">
    <p class="paragraph">
      Consectetur modi adipisicing nihil obcaecati mollitia? Ipsum quae deserunt ad
      necessitatibus voluptas, natus excepturi distinctio Ullam sed tempore ratione
      tenetur quam velit Aliquid doloribus consectetur beatae dolores provident velit Id?
    </p>
    <p class="paragraph">
      Consectetur vel numquam iste adipisci minus Modi quos architecto quasi vel
      consequuntur minus earum! Qui voluptas labore consectetur eius esse? Amet quam
      deserunt minus eveniet culpa, dignissimos. Est iusto placeat.
    </p>
    <ul class="list">
      <li class="list__item">Close to the beach</li>
      <li class="list__item">Breakfast included</li>
      <li class="list__item">Free airport shuttle</li>
      <li class="list__item">Free wifi in all roomsb</li>
      <li class="list__item">Air conditioning and heating</li>
      <li class="list__item">Pets allowed</li>
      <li class="list__item">We speak all languages</li>
      <li class="list__item">Perfect for families</li>
    </ul>
    <div class="recommend">
      <p class="recommend__count">
        Lucy and 3 other friends recommend this hotel.
      </p>
      <div class="recommend__friend">
        <%= image_tag asset_pack_path('img/user-3.jpg'), alt: 'Friend 1', class: 'recommend__photo' %>
        <%= image_tag asset_pack_path('img/user-4.jpg'), alt: 'Friend 2', class: 'recommend__photo' %>
        <%= image_tag asset_pack_path('img/user-5.jpg'), alt: 'Friend 3', class: 'recommend__photo' %>
        <%= image_tag asset_pack_path('img/user-6.jpg'), alt: 'Friend 4', class: 'recommend__photo' %>
      </div>
    </div>
  </div>

  <div class="user-reviews">
    <figure class="review">
      <blockquote class="review__text">
        Quam aspernatur voluptatem quo eum veritatis, esse repudiandae Id sequi cumque sapiente est similique ab? Similique architecto?
      </blockquote>
      <figcaption class="review__user">
        <%= image_tag asset_pack_path('img/user-1.jpg'), alt: 'User 1', class: 'review__photo' %>
        <div class="review__user-box">
          <p class="review__user-name">Nick Smith</p>
          <p class="review__user-date">Feb. 23rd, 2017</p>
        </div>
        <div class="review__rating">7.8</div>
      </figcaption>
    </figure>

    <figure class="review">
      <blockquote class="review__text">
        Deserunt consequatur nihil quod perferendis doloremque voluptas, corrupti eos? Consequatur accusantium explicabo ipsam esse ex?
      </blockquote>
      <figcaption class="review__user">
        <%= image_tag asset_pack_path('img/user-2.jpg'), alt: 'User 1', class: 'review__photo' %>
        <div class="review__user-box">
          <p class="review__user-name">Mary Thomas</p>
          <p class="review__user-date">Sep. 13th, 2017</p>
        </div>
        <div class="review__rating">9.3</div>
      </figcaption>
    </figure>

    <button class="btn-inline">Show all <span>&rarr;</span></button>
  </div>
</div>
